.Rhistory
PVAmpliconFinder_old.sh
PVAmpliconFinder_step2_old.pl
data/*
scripts/*.err
scripts/*.out 
scripts/raxml/*
databases/PaVE
raxml/old/*
scripts/raxml/*
data
results
*.err
*.out
batch_output/*
tmp/*
all/*
files/*
.~lock.infoAboutFiles.csv#
PyVAmpliconFinder_step2_dev2.pl
SFE
info/infoSFE
info/infolinfoma
info/infosamplesxls.xlsx
info/infoskin
info/infovulval
infoAboutFiles.csv
linfoma
renamed_files/
retest/
scripts/batch_SFE
scripts/batch_linfoma
scripts/batch_skin
scripts/batch_vulva
scripts/skin/
skin
vulval

